<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/glazed.css" />

  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/lodash.js"></script>

  
  <!-- scripts used for broadcasting -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/rtc.js"> </script>
</head>

<body>
  <script id="lyrics" type="whambamthankma'am">
    <% lyrics.each(function(lyric) { %>
      <a-lyric data-index="<%= Number(lyric.index) %>">
        <%= lyric.text %>
      </a-lyric>
    <% }); %>
  </script>

  <section id="main-content">
 
    <header>
      <h1>NodeSingThing <small>There's gotta be a better name for this.</small></h1>
      <p>by <a href="http://twitter.com/vladikoff">@vladikoff</a>, 
            <a href="http://twitter.com/tbranyen">@tbranyen</a>, 
            <a href="http://twitter.com/shamakry">@shamakry</a>, 
            <a href="http://twitter.com/jennschiffer">@jennschiffer</a>, 
            <a href="http://twitter.com/beyonce">@beyonce</a>
      </p>
    </header>
  
    <section id="karaoke-machine">
    
    <div class="monitor">
      <!-- kar content will go in here -->
      
      <article class="song">
      
        <header>
          Woop Woop the Swoopy Swoop<br />
          By Swooop Swopp
        </header>

        <some-lyrics>

        </some-lyrics>
      </article>
    
    </div>
 
    </section>
    
    <footer>
      &copy; 1994 Quad City DJs LLC. content below is the experimental jam y'all created
    </footer>
    
  </section>


<!-- just copy this <section> and next script -->
<section class="experiment">
  <section>
    <button style="display: none" id="setup-new-conference" class="setup">Seems like no one is here, press this button and share the page link.</button>
  </section>

  <!-- local/remote audios container -->
  <div style="display: none" id="audios-container"></div>
</section>


<script src="/js/shim.js"> </script>
<script src="/js/init.js"> </script>
<script src="/js/connection.js"> </script>


<script src="/js/midilib/MIDI/AudioDetect.js" type="text/javascript"></script>
<script src="/js/midilib/MIDI/LoadPlugin.js" type="text/javascript"></script>
<script src="/js/midilib/MIDI/Plugin.js" type="text/javascript"></script>
<script src="/js/midilib/MIDI/Player.js" type="text/javascript"></script>
<script src="/js/midilib/Widgets/Loader.js" type="text/javascript"></script>
<script src="/js/midilib/Window/Event.js" type="text/javascript"></script>
<script src="/js/midilib/Window/DOMLoader.script.js" type="text/javascript"></script>
<!-- jasmid package -->
<script src="/js/midilib/inc/jasmid/stream.js"></script>
<script src="/js/midilib/inc/jasmid/midifile.js"></script>
<script src="/js/midilib/inc/jasmid/replayer.js"></script>
<!-- extras -->
<script src="/js/midilib/inc/Base64.js" type="text/javascript"></script>
<script src="/js/midilib/inc/base64binary.js" type="text/javascript"></script>
<script src="/js/midilib/TestSong.js" type="text/javascript"></script>

</body>
</html>
