/*** glazed nodenuts ***/

@font-face { font-family: Chintzy; src: url('../assets/chintzy.ttf'); }
@font-face { font-family: Novasolid; src: url('../assets/novasolid.ttf'); }

body { 
  background: #000 url('../assets/bg-sky.jpg') no-repeat 0 0;
  background-size: 100% auto;
}

#main-content { 
  padding: 20px; 
}

section.experiment { 
  padding: 20px; 
  background: rgba(255,255,255,.8); 
}


/** header **/

header {
	
}


/** karaoke machine contents **/

some-lyrics {
	position: absolute; 
	left:0;
}
some-lyrics a-lyric.active {
  color: #f79bbd;
  text-shadow: 0px 0px 10px #d7115a;
}
some-lyrics a-lyric.retired {
  color: #6DCFDA;
}


/** footer **/

footer { 
  padding: 20px; 
  font-family: Chintzy;
  font-size: 2em;
  text-align: center;
  color: #41CAD9;
}
