/*** glazed nodenuts ***/

@font-face { font-family: Chintzy; src: url('../assets/chintzy.ttf'); }
@font-face { font-family: Novasolid; src: url('../assets/novasolid.ttf'); }

body { 
  background: #000 url('../assets/bg-sky.jpg') no-repeat 0 0;
  background-size: 100% auto;
}

#main-content { 
  width: 100%;
  max-width: 800px;
  padding: 5px; 
  margin: 0 auto;
}

section.experiment { 
  padding: 20px; 
  background: rgba(255,255,255,.8); 
}

@-webkit-keyframes rainbow { 
  10% { background-color: red; }
  20% { background-color: orange; } 
  40% { background-color: yellow; } 
  60% { background-color: #20d320; } 
  80% { background-color: #41CAD9; } 
  100% { background-color: #f44df4; }
}

@-webkit-keyframes glowpulse {
  0% { text-shadow: 0px 0px 3px #d7115a; }
  100% { text-shadow: 0px 0px 15px #d7115a; }
}

@-webkit-keyframes rainbowBorder {
  10% { border-color: red; }
  20% { border-color: orange; } 
  40% { border-color: yellow; } 
  60% { border-color: green; } 
  80% { border-color: blue; } 
  100% { border-color: purple; }
}

/** header **/
#setup-new-conference {
  margin: 10px auto;
  border:4px solid red;
  width: 100%;
  font-size: 1.2em;
  -webkit-animation: rainbowBorder 10s infinite alternate;
}
header {
  width: 100%;
  margin: 0 auto 30px; 
  position: relative;
}
header h1 {
  font-family: Novasolid;
  color: yellow;
  letter-spacing: .1em;
  font-size: 6em;
}
header h1 small {
  display: block;
  color: #efefef;
  font-size: .4em;
}
#vote-button {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: rainbow 10s infinite alternate;
  padding: 0 5px;
  border-radius: 5px;
  text-align: center;
}
#vote-button h5 {
  margin: 5px 0;
  color: #000;
}
#vote-button iframe {
  background: #fff; 
}
#about-app {
  margin: 0 auto;
  background: #1fdc1f;
  color: #000;
  width: 90%;
  border-radius: 35px 35px 0 0;
  padding: 5px 20px 10px;
  box-shadow: 0 0 20px #1fdc1f;
  text-align: center;
  font-size: .9em;
  line-height: 1.8em;
}
a.tweet {
  background: #4099ff;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  border-radius: 10px;
}

/** karaoke machine contents **/

#karaoke-machine {
  width: 100%;
  text-align: center;
  min-height: 520px;
  max-width: 800px;
  background-color: #d7115a;
  box-shadow: 0px 0px 20px #d7115a;
  border-radius: 10px;
  height: 100%;
  margin: 0 auto 10px;
  position: relative;
  top: -20px;
}
some-lyrics {
  position: absolute; 
  left:0;
  -webkit-transition: all 1s linear;
}
some-lyrics a-lyric.active {
  color: #f79bbd;
  text-shadow: 0px 0px 3px #d7115a;
  -webkit-animation: glowpulse 1s infinite alternate;
}
some-lyrics a-lyric.retired {
  color: #6DCFDA;
}
.volume-range {
  width: 60px;
  margin: 30px 20px;
}
.volume-range label {
  display: block;
  font-weight: normal;
  color:#000;
  font-family: monospace;
  text-align: center
}
.volume-range input {
  width: 100%;
}
progress {
  width: 90%;
}

/** user **/
#webrtc-container {
  margin: 20px;
}
#webrtc-container h4 {
  font-size: 2em;
  font-family: chintzy;
  margin-bottom: 0;
}
#webrtc-container h4 small {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: .5em;
  font-style: italic;
}
.user {
  width: 100px;
  height: 100px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #333;

  background-image: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(0,0,0,0.2)
  );
  background-color: hsl(0, 0%, 50%);

  color: white;
  cursor: pointer;
  float: left;
  margin-right: 5px;
}
.user.muted {
  opacity: 0.2;
}

/** footer **/

footer { 
  padding: 20px; 
  text-align: center;
  color: #41CAD9;
  font-size: 1.2em;
}
footer .us {
  font-family: Chintzy;
  letter-spacing: .1em;
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
}
footer a {
  color: #1fdc1f;
}

/** ~*responsive lyfe*~ **/

@media 
only screen and ( max-width: 600px) {

  #vote-button {
	position: static;
	display: block;
	margin: 10px 0;
  }
  .tv-screen {
	left: auto;
	margin: 20px auto;
	width:85%
  }
  .tv-knobs {
    position: static;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .tv-knobs li {
	display: inline-block;
	margin: 20px 10px;
  }
  .tv-knobs li.button-skip {
	position: relative;
	top: 11px;
  }
  .tv-title {
	position: static;
	min-height: auto;
	bottom: 0;
	left: 0;
	margin: 10px auto;
  }
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
}
progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px #000 inset;
}
progress::-moz-progress-bar {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px #000 inset;
}
progress::-webkit-progress-value {
  background-color: #20d320;
  box-shadow: 0 0 5px #000 inset;
}