/*** glazed nodenuts ***/

@font-face { font-family: Chintzy; src: url('../assets/chintzy.ttf'); }
@font-face { font-family: Novasolid; src: url('../assets/novasolid.ttf'); }

body { 
  background: #000 url('../assets/bg-sky.jpg') no-repeat 0 0;
  background-size: 100% auto;
}

#main-content { 
  width: 100%;
  max-width: 800px;
  padding: 5px; 
  margin: 0 auto;
}

section.experiment { 
  padding: 20px; 
  background: rgba(255,255,255,.8); 
}

@-webkit-keyframes rainbow { 
  10% { background-color: red; }
  20% { background-color: orange; } 
  40% { background-color: yellow; } 
  60% { background-color: green; } 
  80% { background-color: blue; } 
  100% { background-color: purple; }
}

@-webkit-keyframes glowpulse {
  0% { text-shadow: 0px 0px 3px #d7115a; }
  100% { text-shadow: 0px 0px 15px #d7115a; }
}

/** header **/

header {
  width: 100%;
  margin: 0 auto; 
}
header h1 {
  font-family: Novasolid;
  color: yellow;
  letter-spacing: .1em;
  font-size: 5em;
  position: relative;
}
header h1 small {
  display: block;
  color: #efefef;
  font-size: .4em;
}
header .about {
  color: #fff;
  font-size: 1.3em;
}
header .about a {
  color: orange;
}
header .about em {
  color: lime;
}
#vote-button {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: rainbow 10s infinite alternate;
  padding: 5px;
  border-radius: 5px;
}


/** karaoke machine contents **/

#karaoke-machine {
  width: 100%;
  text-align: center;
  min-height: 520px;
  max-width: 800px;
  background-color: #d7115a;
  box-shadow: 0px 0px 20px #d7115a;
  border-radius: 10px;
  position: relative;
  height: 100%;
  margin: 0 auto 10px;
}
some-lyrics {
  position: absolute; 
  left:0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
}
some-lyrics a-lyric.active {
  color: #f79bbd;
  text-shadow: 0px 0px 3px #d7115a;
  -webkit-animation: glowpulse 1s infinite alternate;
}
some-lyrics a-lyric.retired {
  color: #6DCFDA;
}
.volume-range {
  width: 60px;
  margin: 30px 20px;
}
.volume-range label {
  display: block;
  font-weight: normal;
  color:#000;
  font-family: monospace;
  text-align: center
}
.volume-range input {
  width: 100%;
}
progress {
  width: 90%;
}

/** user **/
#webrtc-container {
  margin: 5px 20px 20px;
}
.user {
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #333;

  background-image: linear-gradient(
    rgba(255,255,255,0.6),
    rgba(0,0,0,0.6)
  );
  background-color: hsl(0, 0%, 50%);

  color: white;
  cursor: pointer;
}
.user.muted {
  opacity: 0.2;
}

/** footer **/

footer { 
  padding: 20px; 
  font-family: Chintzy;
  font-size: 2em;
  text-align: center;
  color: #41CAD9;
}

/** ~*responsive lyfe*~ **/

@media 
only screen and ( max-width: 600px) {
  header h1 {
	font-size: 3em;
  }
  #vote-button {
	position: static;
	display: block;
  }
  .tv-screen {
	left: auto;
	margin: 20px auto;
	width:85%
  }
  .tv-knobs {
    position: static;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .tv-knobs li {
	display: inline-block;
	margin: 20px 10px;
  }
  .tv-knobs li.button-skip {
	position: relative;
	top: 11px;
  }
  .tv-title {
	position: static;
	bottom: 0;
	left: 0;
	margin: 10px auto;
  }
}