/*** glazed nodenuts ***/

h1, h2, h3, h4, h5 { margin: 0;}
header, footer, section { display: block; }
* {box-sizing: border-box;}
a { text-decoration: none; }

@font-face { font-family: Chintzy; src: url('../assets/chintzy.ttf'); }
@font-face { font-family: Novasolid; src: url('../assets/novasolid.ttf'); }
@-webkit-keyframes rainbow { 
  10% { background-color: red; }
  20% { background-color: orange; } 
  40% { background-color: yellow; } 
  60% { background-color: #20d320; } 
  80% { background-color: #41CAD9; } 
  100% { background-color: #f44df4; }
}
@-webkit-keyframes glowpulse {
  0% { text-shadow: 0px 0px 3px #d7115a; }
  100% { text-shadow: 0px 0px 15px #d7115a; }
}
@-webkit-keyframes rainbowBorder {
  10% { border-color: red; }
  20% { border-color: orange; } 
  40% { border-color: yellow; } 
  60% { border-color: green; } 
  80% { border-color: blue; } 
  100% { border-color: purple; }
}

/** page structure **/
body { 
  background: #000 url('../assets/bg-sky.jpg') no-repeat 0 0;
  background-size: 100% auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#main-content { 
  width: 100%;
  max-width: 800px;
  padding: 5px; 
  margin: 0 auto;
}

/** header **/
#setup-new-conference {
  margin: 10px auto;
  border:4px solid red;
  width: 100%;
  font-size: 1.2em;
  -webkit-animation: rainbowBorder 10s infinite alternate;
}
header {
  width: 100%;
  margin: 0 auto 30px; 
  position: relative;
}
header h1 {
  font-family: Novasolid;
  color: yellow;
  letter-spacing: .1em;
  font-size: 6em;
}
header h1 small {
  display: block;
  color: #efefef;
  font-size: .4em;
}
#vote-button {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: rainbow 10s infinite alternate;
  padding: 0 5px;
  border-radius: 5px;
  text-align: center;
}
#vote-button h5 {
  margin: 5px 0;
  color: #000;
}
#vote-button iframe {
  background: #fff; 
}
#about-app {
  margin: 0 auto;
  background: #1fdc1f;
  color: #000;
  width: 90%;
  border-radius: 35px 35px 0 0;
  padding: 5px 20px 10px;
  box-shadow: 0 0 20px #1fdc1f;
  text-align: center;
  font-size: .9em;
  line-height: 1.8em;
}
a.tweet {
  background: #4099ff;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  border-radius: 10px;
}


/** karaoke machine **/

#karaoke-machine {
  width: 100%;
  text-align: center;
  min-height: 520px;
  max-width: 800px;
  background-color: #d7115a;
  box-shadow: 0px 0px 20px #d7115a;
  border-radius: 10px;
  margin: 0 auto 10px;
  position: relative;
  top: -20px;
}
some-lyrics {
  position: absolute; 
  left:0;
  -webkit-transition: all 1s linear;
}
some-lyrics a-lyric.active {
  color: #f79bbd;
  text-shadow: 0px 0px 3px #d7115a;
  -webkit-animation: glowpulse 1s infinite alternate;
}
some-lyrics a-lyric.retired {
  color: #6DCFDA;
}

.tv-contents {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
  height: 75%;
  color: #fff;
  font-size: 300%;
  text-align: center;
  overflow: hidden;
}
.tv-screen {
  position: relative;
  top: 15px;
  left: 30px;
  width: 75%;
  height: 415px;
  margin: 20px 10px;
  background: #41CAD9;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.tv-screen:before {
  content: "";
  position: absolute;
  top: 8%;
  bottom: 8%;
  right: -4%;
  left: -4%;
  background: inherit;
  border-radius: 5% / 50%;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
.tv-knobs {
  position: absolute;
  right: 0;
  top: 20px;
}
.tv-knobs li {
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 30px 20px;
  border-radius: 120px;
  background-color: #EC7128;
  box-shadow: inset 0 0 10px #000000;
}
.tv-knobs li.button-skip {
  margin: 50px 20px 10px;
}
.tv-knobs li.volume-range {
  box-shadow: none;
  background: transparent;
  border-radius: 0;
}
.tv-control, .tv-knobs .tv-label {
  display: block;
  width: 80%;
  height: 15px;
  background-color: #F2D857;
  -webkit-transform: translate(6px, 22px) rotate(90deg);
  border-radius: 10px;
}
.tv-knobs li:first-child .tv-control {
  -webkit-transform: translate(6px, 22px) rotate(45deg);
}
.tv-knobs li:nth-child(3) .tv-control {
  -webkit-transform: translate(6px, 22px) rotate(-20deg);
}
.tv-knobs li:hover .tv-control {
  -webkit-transform: translate(6px, 22px) rotate(180deg);
}
.tv-knobs li .tv-label {
  width: 120px;
  position: relative;
  top: -35px;
  left: -30px;
  text-align: center;
  color: #000;
  font-family: monospace;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
}
.tv-knobs li.button-skip .tv-label {
  top: -45px;
  line-height: 1em;
}
.tv-knobs li:hover .tv-label {
  color: #fff;
  opacity: 1;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
}
.volume-range {
  width: 60px;
  margin: 30px 20px;
}
.volume-range label {
  display: block;
  font-weight: normal;
  color:#000;
  font-family: monospace;
  text-align: center
}
.volume-range input {
  width: 100%;
}
progress {
  width: 90%;
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
}
progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px #000 inset;
}
progress::-moz-progress-bar {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px #000 inset;
}
progress::-webkit-progress-value {
  background-color: #20d320;
  box-shadow: 0 0 5px #000 inset;
}
#tv-users {
  margin: 10px;
}
.tv-title {
  background-color: #9240DD;
  padding: 10px 15px;
  margin: 5px;
  color: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  width:60%;
  display: inline-block;
  min-height: 102px;
}
.tv-claps {
  background-color: #ffa700;
  padding: 10px 15px;
  margin: 5px;
  color: #333;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-weight: bold;
}
.tv-claps p {
  color: #fff;
  line-height: 1em;
  margin: 5px;
}
.tv-claps h4 {
  margin: 0;
  font-family: chintzy;
  letter-spacing: .1em;
  font-size: 1.5em;
}

/** Room & Users  **/
#webrtc-container {
  margin: 20px;
  text-align: center;
}
#webrtc-container h4 {
  font-size: 2em;
  font-family: chintzy;
  margin-bottom: 0;
}
#webrtc-container h4 small {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: .5em;
  font-style: italic;
}
#audios-container {
  padding: 10px 0;
}
.user {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 3px;
  margin: 3px;
  border: 1px solid #333;
  background-color: hsl(0, 0%, 50%);
  background-image: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(0,0,0,0.2)
  );
  color: white;
  cursor: pointer;
}
.user.muted {
  opacity: 0.2;
}

/** footer **/

footer { 
  text-align: center;
  color: #41CAD9;
  font-size: 1.2em;
}
footer .us {
  font-family: Chintzy;
  letter-spacing: .1em;
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
}
footer a {
  color: #1fdc1f;
}


/** ~*responsive lyfe*~ **/
@media 
only screen and ( max-width: 600px) {

  #vote-button {
	position: static;
	display: block;
	margin: 10px 0;
  }
  .tv-screen {
	left: auto;
	margin: 20px auto;
	width:85%
  }
  .tv-knobs {
    position: static;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .tv-knobs li {
	display: inline-block;
	margin: 20px 10px;
  }
  .tv-knobs li.button-skip {
	position: relative;
	top: 11px;
  }
  .tv-title {
	position: static;
	min-height: auto;
	bottom: 0;
	left: 0;
	margin: 10px auto;
  }
}