/*** glazed nodenuts ***/

@font-face { font-family: Chintzy; src: url('../assets/chintzy.ttf'); }
@font-face { font-family: Novasolid; src: url('../assets/novasolid.ttf'); }

body { 
  background: #000 url('../assets/bg-sky.jpg') no-repeat 0 0;
  background-size: 100% auto;
}

#main-content { 
  padding: 20px; 
}

section.experiment { 
  padding: 20px; 
  background: rgba(255,255,255,.8); 
}


/** header **/

header {
	
}


/** the karaoke machine **/

#karaoke-machine { 
  width: 648px; 
  height: 460px; 
  margin: 20px auto; 
  padding: 20px; 
  background: transparent url('../assets/bg-screen.png') no-repeat 0 0; 
  font-family: Arial, sans-serif; 
  position: relative;
}

.monitor {
  width: 464px;
  height: 294px;
  overflow: scroll;
  padding: 20px; 
  position: absolute;
  top: 55px;
  left: 54px;
}

.monitor header {
  font-weight: bold; 
}

.monitor some-lyrics {
  font-size: 3.2em;
}

.monitor some-lyrics a-lyric.active {
  color: #FF0;
}

.song {
  position: relative;
}

some-lyrics {
  position: absolute;
}

.controls {
	
}


/** footer **/

footer { 
  padding: 20px; 
  background: rgba(255,255,255,.5); 
}
