
.tv-contents {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
  height: 75%;
  color: #fff;
  font-size: 300%;
  text-align: center;
  overflow: hidden;
}
.tv-screen {
  position: relative;
  top: 15px;
  left: 30px;
  width: 75%;
  height: 415px;
  margin: 20px 10px;
  background: #41CAD9;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.tv-screen:before {
  content: "";
  position: absolute;
  top: 8%;
  bottom: 8%;
  right: -4%;
  left: -4%;
  background: inherit;
  border-radius: 5% / 50%;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
.tv-knobs {
  position: absolute;
  right: 0;
  top: 20px;
}
.tv-knobs li {
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 30px 20px;
  border-radius: 120px;
  background-color: #F2A679;
  box-shadow: inset 0 0 10px #000000;
}
.tv-knobs li.button-skip {
  margin: 50px 20px 10px;
}
.tv-knobs li.volume-range {
  box-shadow: none;
  background: transparent;
  border-radius: 0;
}
.tv-control, .tv-knobs .tv-label {
  display: block;
  width: 80%;
  height: 15px;
  background-color: #F2D857;
  -webkit-transform: translate(6px, 22px) rotate(90deg);
  border-radius: 10px;
}
.tv-knobs li:first-child .tv-control {
  -webkit-transform: translate(6px, 22px) rotate(45deg);
}
.tv-knobs li:nth-child(3) .tv-control {
  -webkit-transform: translate(6px, 22px) rotate(-20deg);
}
.tv-knobs li:hover .tv-control {
  -webkit-transform: translate(6px, 22px) rotate(180deg);
}
.tv-knobs li .tv-label {
  width: 120px;
  position: relative;
  top: -35px;
  left: -30px;
  text-align: center;
  color: #000;
  font-family: monospace;
  cursor: pointer;
  background-color: transparent;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
}
.tv-knobs li.button-skip .tv-label {
  top: -45px;
  line-height: 1em;
}
.tv-knobs li:hover .tv-label {
  color: #fff;
  opacity: 1;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
}
#tv-users {
  margin: 10px;
}
.tv-title {
  background-color: #9240DD;
  padding: 10px 15px;
  margin: 5px;
  color: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  width:60%;
  display: inline-block;
}
.tv-claps {
  background-color: #ffa700;
  padding: 10px 15px;
  margin: 5px;
  color: #333;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000;
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.tv-claps h4 {
  margin: 0;
  font-family: chintzy;
  letter-spacing: .1em;
  font-size: 1.5em;
}